.custom-form-group {
  background-color: #3c4655;
  color: #fff;
}

.topNav {
  background-color: #313a46;
  color: #fff;
}

.stock-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stock {
  width: 50%;
  margin: auto;
}

.error,
.loader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/* == Medium Devices == */
@media screen and (max-width: 768px) {
  .stock-list-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .stock {
    width: 75%;
    margin: auto;
  }
}

/* == Small Devices == */
@media screen and (max-width: 540px) {
  .stock-list-container {
    grid-template-columns: 1fr;
  }

  .stock {
    width: 100%;
    margin: 0;
  }
}
