.custom-form-group {
  background-color: #3c4655;
  color: #fff;
}

.topNav {
  background-color: #313a46;
}

.cstock-card {
  width: 25%;
}

.stock-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.stock {
  width: 50%;
  margin: auto;
}

.error,
.loader {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
